.CodeMirror {
  height: auto;
  font-size: 14px;
  line-height: 1.4;
}

.headerCard {
  text-align: center;
  margin: 50px;
  padding: 10px;
  color: #202124;
  background-color: #fff;
  border-radius: 8px;
}